<nav class="navbar navbar-inverse bg-primary">
    <login-buttons></login-buttons>
</nav>
<div class="container">
    <div class="app">
        <div class="card">
            <feeding-log-time-since></feeding-log-time-since>
        </div>
        <div class="card">
            <div class="card-block">
                <feeding-log-form></feeding-log-form>
            </div>
        </div>
        <div class="card">
            <feeding-log-list></feeding-log-list>
        </div>

    </div>
    <div class="card">
        <div class="card-block">
            <p>UserId: {{user}}</p>
        </div>
    </div>
</div>