<div class="col" style="margin-top: 1em; margin-bottom: 1em;">
<div class="card">
  <div class="card-block">
    <form [formGroup]="addForm" (ngSubmit)="addLogging()" class="form-inline col-md-12">
      <div class="input-group col-auto">
        <input class="form-control " placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-addon" (click)="d.toggle()">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
      </div>
      <div class="input-group col-auto">
        <input type="text" class="form-control" formControlName="hour" maxlength="2" size="2" placeholder="hh" aria-describedby="basic-addon1">
        <span class="input-group-addon" id="basic-addon1">:</span>
        <input type="text" class="form-control" formControlName="minute" maxlength="2" size="2" placeholder="mm" aria-describedby="basic-addon1">
        <button class="btn btn-primary" type="submit">Add</button>

      </div>
    </form>
  </div>
</div>
</div>